.bg-danger{
    background-color: #e74c3c;
    color: #fff;
}
.bg-warning{
    background-color: #f1c40f;
    color: #fff;
}
.bg-success{
    background-color: #2ecc71;
    color: #fff;
}



*{
    margin: 0;
}
html{
    margin: 0 auto;
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}
body{
    background-color: #e0e0e0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.stopwatch-title{
    font-weight: 400;
    margin: 20px 0;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}
.stopwatch-wrapper{
    display: flex;
    height: auto;
}

.timer-box{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #333;
    font-size: 30px;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  7px 7px 14px #bebebe,
                -7px -7px 14px #ffffff;
}
.stopwatch-action{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    height: auto;   
}

.btn-action{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 5px;
}

